In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
[*range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
list(range(10))[-1]

9

In [106]:
list(range(10))[:-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
list(range(10))[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [3]:
list(range(10))[0:5]

[0, 1, 2, 3, 4]

In [4]:
list(range(10))[3:5]

[3, 4]

In [31]:
list(map(str, range(10)))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [34]:
[x for x in map(str, range(10))]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [35]:
[x + 'X' for x in map(str, range(10))]

['0X', '1X', '2X', '3X', '4X', '5X', '6X', '7X', '8X', '9X']

In [39]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [40]:
[x for x in range(0, 10, 2)]

[0, 2, 4, 6, 8]

In [41]:
{x: str(x) for x in range(10)}

{0: '0',
 1: '1',
 2: '2',
 3: '3',
 4: '4',
 5: '5',
 6: '6',
 7: '7',
 8: '8',
 9: '9'}

In [65]:
d = {x: str(x) + 'X' for x in range(10)}
for i, k in enumerate(d):
    print(i, k, d[k])

0 0 0X
1 1 1X
2 2 2X
3 3 3X
4 4 4X
5 5 5X
6 6 6X
7 7 7X
8 8 8X
9 9 9X

In [66]:
d = {x: str(x) + 'X' for x in range(10)}
for k, v in d.items():
    print(k,v)

0 0X
1 1X
2 2X
3 3X
4 4X
5 5X
6 6X
7 7X
8 8X
9 9X

In [67]:
d = {x: str(x) + 'X' for x in range(10)}
for v in d.values():
    print(v)

0X
1X
2X
3X
4X
5X
6X
7X
8X
9X

In [68]:
d = {x: str(x) + 'X' for x in range(10)}
for k in d.keys():
    print(k)

0
1
2
3
4
5
6
7
8
9

In [69]:
r = 'radar'
r == r[::-1]

True

In [70]:
test = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4]
max(set(test), key=test.count)

4

In [80]:
a = ' CAT  HATES  WATER '
' '.join(a.split(' ')[::-1])

' WATER  HATES  CAT '

In [93]:
d = {x: str(x) + 'X' for x in range(10)}
d.get(1)

'1X'

In [94]:
d.get(10, 9999)

9999

In [97]:
x = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
{k: v for k, v in sorted(x.items(), key=lambda x: x[1])}

{0: 0, 2: 1, 1: 2, 4: 3, 3: 4}

In [98]:
def func_yield(enumerables):
    for e in enumerables:
        yield e

In [102]:
j = ''
for x in func_yield(range(5)):
    j += str(x)
j

'01234'

In [4]:
2**5

32

In [11]:
# stack
s = []
for i in range(10):
    s.append(i)
v = ''
while s:
    v += str(s.pop())
v

'9876543210'

In [14]:
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'a': 1, 'b': 9, 'c': 6}
d3 = {**d1, **d2}
d3

{'a': 1, 'b': 9, 'c': 6}

In [19]:
# How to merge two dictionaries
# in Python 3.5+:

x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
z = {**x, **y}
z

{'a': 1, 'b': 3, 'c': 4}

In [18]:
# Why Python Is Great:
# Function argument unpacking

def myfunc(x, y, z):
    print(x, y, z)

tuple_vec = (1, 0, 1)
dict_vec = {'x': 1, 'y': 0, 'z': 1}

myfunc(*tuple_vec)

myfunc(**dict_vec)

1 0 1
1 0 1

In [23]:
# The lambda keyword in Python provides a
# shortcut for declaring small and
# anonymous functions:

add = lambda x, y: x + y
print(add(5, 3))

# You could declare the same add()
# function with the def keyword:

def add(x, y):
    return x + y
print(add(5, 3))

# So what's the big fuss about?
# Lambdas are *function expressions*:
print((lambda x, y: x + y)(5, 3))

# → Lambda functions are single-expression
# functions that are not necessarily bound
# to a name (they can be anonymous).

# → Lambda functions can't use regular
# Python statements and always include an
# implicit `return` statement.

8
8
8

In [27]:
x = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
{k: v for k, v in sorted(x.items(), key=lambda x: x[1])}

{0: 0, 2: 1, 1: 2, 4: 3, 3: 4}

In [29]:
for i, k in enumerate(x):
    print(i, k, x[k])

0 1 2
1 3 4
2 4 3
3 2 1
4 0 0

In [30]:
for k, v in x.items():
    print(k, v)

1 2
3 4
4 3
2 1
0 0

In [31]:
for k in x.keys():
    print(k)

1
3
4
2
0

In [32]:
for v in x.values():
    print(v)

2
4
3
1
0

In [35]:
[x for x in map(str, range(10))]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']